@import "fonts.scss";

$header_footer_back: #313235;
$top_footer_back: rgb(95, 95, 95);
$neobit_green: #2ac467;
$top_footer_back: #373d44;

//  ДЛЯ телефонов

@media (min-width: 200px) and (max-width: 980px){
  .mobile{
    display: block !important;
  }
  .pc{
    display: none !important;
  }
  .header_container{
    display: none !important;
  }
  nav{
    display: none !important;
  }
  // cards
  .card{
    margin: 0 auto;
    width: 55rem !important;
  }
  .cards_div_in{
    order: 12;
    .card-title-text{
      font-size: 38px;
    }
    .card-data{
      font-size: 30px;
    }
    .card-wievers{
      font-size: 30px;
    }
  }
  .right_cards{
    order: 1;
    .right_card_title{
      font-size: 25px !important;
    }
    .desc_name{
      font-size: 23px !important;
    }
    .desc_other_name{
      font-size: 21px !important;
    }
  }
  // cards
  .table_footer{  
      lh{
        text-align: center !important;
        font-size: 23pt !important;
      }
    li{
      text-align: center !important;
      a{
        font-size: 20pt !important; 
      }
    }
  }
  .all_rul_suc{
    font-size: 19pt !important;
  }
  .social_footer{
    text-align: center !important;
    i{
      font-size: 45px !important;
    }
  }
  .logo_footer_div{
    text-align: center !important;
  }
  .Made_with{
    margin-top: 20px !important;
    font-size: 37px !important;    
  }
}

body, html {
  margin: 0;
  padding: 0;
  // font-family: sans-serif;
}

a:hover {
  text-decoration: none;
}



body {
  height: 100vh;
  background-color: #f0f4f5;
}

//Header
.for_mobiles{
  margin: 0px;
  padding: 17px 0px;
  i{
    color: white;
    font-size: 75px;
  }
  i:hover{
    color: $neobit_green;
    -ms-transition: all.6s ease;
    -o-transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
  }
  .img_mobile{
    width: 45%;
  }
  .drop_down_menu{
    background-color: $header_footer_back;
    border: none;
  }
  .btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle{
    background-color: $header_footer_back;
    border: none;
  }
  .dropdown-menu{
    background-color: $header_footer_back;
  }
}

.menu{
  ul{
    list-style: none;
    a{
      font-weight: 400;
      margin-left: 20px;
      font-size: 22pt;
      color: white;
      i{
        margin-right: 7px;
      }
    }
  }
}
.mobile{
  display: none;
}
.pc{
  padding: 17px 0px;
  display: block;
}
header {
  margin: auto;
  background-color: $header_footer_back;
  .header_container{
    margin: auto !important;
  }
  .img_div{
    display: inline-block;
    padding: 0px;
    img{
      width: 80%;
    }
  .logo_header{
    height: 90px;
    width: auto !important; 
    padding-left: 0px;
    padding-right: 0px;
    transform: scale(0.9,0.9)
   }
  }
  .links_header {
  text-align: right;
  display: inline-block;
  a, span{
    font-weight: 400;
    margin-left: 20px;
    font-size: 14pt;
    color: white;
  }
  a:hover {
    color: $neobit_green;
    text-decoration: none;
  }
  }
}

//navbar
nav{
  margin: auto;
  text-align: center;
  padding: 10px 0px 10px 0px;
  background-color: white;
  box-shadow: 0 6px 20px -4px #868686;
  .div_nav{
    margin: auto;
    padding-left: 0px;
  }
  .nav_sites{
    text-align: left;
    height: 100%;
    a{
    display: inline-block;
    height: 100%;
    color: #9c9c9c;
    font-weight: 600;
    font-size: 14.5pt;
    margin-right: 50px;
    }
  }
  .side-navbar{
    text-align: right;
    a{
      i{
        padding-left: 10px;
      }
    }
  }
  div {
    display: inline-block;
  p {
    display: inline-block;
  }
  }
  a {
  display: inline-block;
  height: 100%;
  color: #9c9c9c;
  font-weight: 600;
  font-size: 14.5pt;
  }
  a:hover {
  color: $neobit_green;
  }
  .side-navbar {
    a {
      display: inline-block;
      width: max-content
    }
  }
}

//main
main {
  margin: 25px 0px 0px 0px !important;
}
  //info-cards
  .cards{
    margin: auto;
    padding: 0px;
  }
  .card{
    .fa-calendar-alt{
      margin-right: 7px;
    }
  }
  .card{
    box-shadow: 0 0 10px #00000057;
    display: inline-block;
    padding: 0px;
    margin: 15px;
    border: 0px;
    width: 20rem;
  }
  .card-title{
    background-color: white;
    padding: 16px 20px 16px 20px;
    a{
      color: #212529;
      font-size: 19px;
    }
    a:hover{
      color: $neobit_green;
      text-decoration: underline;
    }
  }
  .card-footer{
    text-align: center;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgba(0,0,0,.03);
    color: #6c757d;
    span{
      padding-left: 0px;
      padding-right: 0px;
      margin: 0px;
    }
  }
  .card-img{
    width: 100%;
    border-radius: 0px;
  }
  .card-data{
    text-align: left;
  }
  .card-wievers{
    text-align: right;
  }
  //right-new-cards
  .right_cards{
    display: block;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px #00000057;
    padding: 0px;
    .right-card{
      padding: 0px;
    }
  }
  .title{
    border-radius: 10px 10px 0px 0px;
    padding: 11px 0px 11px 0px;
    background-color: $header_footer_back;
    text-align: center;
    .right_card_title{
      font-size: 19px;
      color: white;
      .fa-clock{
        color: $neobit_green;
        font-size: 17px;
        margin-right: 2px; 
      }
    }
  }
  .description:last-child{
    border-radius: 0px 0px 10px 10px;
  }
  .description{
    margin: 0px;
    padding: 5px 0px 5px 0px;
    background-color: white;
    .desc_name{
      font-size: 17px;
    }
    .desc_other_name{
      color: grey;
      font-size: 15px;
    }
  }
  h1, h2{
    margin: 0px;
  }


//footer
footer{
  padding: 0px;
  .div_top_footer{
  background-color: $top_footer_back;
  }
  .table_footer:first-child{
    padding-left: 0px !important; 
  }
  .table_footer{
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin: auto;
  padding: 75px 0px 75px 0px;
  ul{
    text-align: left;
    display: inline-block;
    list-style: none;
    lh{
      color: white;
      font-weight: 700;
      font-size: 17pt;  
      text-align: left;
      display: block;
    }
    li{
      text-align: left;
    }
    a{
      color: white;
      font-weight: 200;
      font-size: 15pt;  
    }
    a:hover{
      color: $neobit_green;
      text-decoration: none;
    }
    }
  }
}

//bottom_footer
.bottom_footer {
  width: 100%;
  background-color: $header_footer_back;
  // padding: 5px 0px 10px 0px;
  margin: auto;
  .info_footer{
    margin: 0 auto;
    padding: 20px 0px;
  }
  .logo_footer_div{
    text-align: right;
    .Made_with{
      .Git{
        font-size: 15px;
        font-weight: bold;
      }
    }
    div{
      padding: 0px;
      display: inline-block;
      text-align: left;
      img{
        width: 35%;
      }
      span{
        margin-top: 90px; 
        color: white;
        font-size: 12pt;
      }
    }
  }
  .social_footer {
    padding: 0px;
    display: inline-block;
    text-align: left;
    margin-top: auto;
    ul{
      padding-left: 5px; 
      margin-bottom: 0px;
      word-spacing: 10px;
      list-style: none;
      li{
      display: inline;
       i{
      margin: 0px 10px 0px 0px;
      color: white;
      font-size: 29px;
      }
      .logos{
        -ms-transition: all.6s ease;
        -o-transition: all.6s ease;
        -moz-transition: all.6s ease;
        -webkit-transition: all.6s ease;
      }
      .telegram:hover{
        color: #41b4e6;
      }
      .facebook:hover{
        color: #475993;
      }
      .youtube:hover{
        color: #f61c0d;
      }
      .vk:hover{
        color: #4d76a1;
      }
      .twitter:hover{
        color: #55acee;
      }
      .github:hover{
        color: #800080;
      }
      i:hover{
      color: $neobit_green;
      } 
      }
    }
  }
  .fa-code{
    margin-right: 5px;
  }
}
// a {
  // font-family: 'Arial';
// }