@media (min-width: 575.98px) and (max-width: 991.98px) {
  .links_header {
    text-align: center !important;
  }
}
@media (min-width: 991.99px) {
  .links_header {
    text-align: right !important;
  }
}
@media (max-width: 991px) {
  nav div {
    text-align: center !important;
  }
}
@media (max-width: 991.98px) {
  .social_footer {
    text-align: center !important;
  }

  .logo_footer_div {
    text-align: center !important;
  }
}
/*@media screen and (max-width: 768px){
  .table_footer{
    ul{
      lh{
        font-size: 20pt
      }
      li{
       a{
      font-size: 15pt
        }
      }
    }
  }
}*/
@font-face {
  font-family: "Segoe UI Regular";
  src: url("SegoeUI.eot");
  src: url("SegoeUI.eot?#iefix") format("embedded-opentype"), url("SegoeUI.woff") format("woff"), url("SegoeUI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  height: 100vh;
  background-color: #f0f4f5;
}

header {
  padding: 10px 0px 10px 0px;
  background-color: #3b404a;
}
header div {
  text-align: center;
}
header div img {
  height: 90px;
  width: auto !important;
  padding-left: 0px;
  padding-right: 0px;
  transform: scale(0.9, 0.9);
}
header .links_header {
  display: inline-block;
}
header .links_header a, header .links_header span {
  font-weight: 100;
  margin-left: 20px;
  font-size: 14pt;
  color: white;
}
header .links_header a:hover {
  color: #2ac467;
  text-decoration: none;
}

nav {
  text-align: center;
  padding: 10px 0px 10px 0px;
  background-color: white;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.6);
}
nav div {
  display: inline-block;
}
nav div p {
  display: inline-block;
}
nav a {
  margin-right: 50px;
  color: #9c9c9c;
  font-size: 17pt;
}
nav a:hover {
  color: #2ac467;
  text-decoration: underline;
}

main {
  height: 5vh;
}

.paddings {
  padding: 0px;
}

footer .div_top_footer {
  background-color: #373d44;
}
footer .table_footer {
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin: auto;
  padding: 40px 0px 40px 0px;
}
footer .table_footer ul {
  padding: 0px 2% 0px 2%;
  display: inline-block;
  list-style: none;
}
footer .table_footer ul lh {
  color: white;
  font-weight: 700;
  font-size: 17pt;
  text-align: left;
  display: block;
}
footer .table_footer ul li {
  text-align: left;
}
footer .table_footer ul a {
  color: white;
  font-weight: 200;
  font-size: 12pt;
}
footer .table_footer ul a:hover {
  color: #2ac467;
  text-decoration: none;
}

.bottom_footer {
  width: 100%;
  background-color: #3b404a;
  padding: 10px 0px 20px 0px;
  margin: 0px;
}
.bottom_footer div {
  padding: 0px;
  display: inline-block;
  text-align: right;
}
.bottom_footer div p {
  margin-bottom: 0px;
}
.bottom_footer div p .logo_footer {
  margin-top: auto;
  height: 60px;
  width: auto;
}
.bottom_footer div span {
  margin-top: 90px;
  color: white;
}
.bottom_footer .social_footer {
  padding: 0px;
  display: inline-block;
  text-align: right;
  margin-top: auto;
}
.bottom_footer .social_footer ul {
  word-spacing: 10px;
  list-style: none;
}
.bottom_footer .social_footer ul li {
  display: inline;
}
.bottom_footer .social_footer ul li i {
  margin: 0px 10px 0px 0px;
  color: white;
  font-size: 29px;
}
.bottom_footer .social_footer ul li .logos {
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
}
.bottom_footer .social_footer ul li .telegram:hover {
  color: #41b4e6;
}
.bottom_footer .social_footer ul li .facebook:hover {
  color: #475993;
}
.bottom_footer .social_footer ul li .youtube:hover {
  color: #f61c0d;
}
.bottom_footer .social_footer ul li .vk:hover {
  color: #4d76a1;
}
.bottom_footer .social_footer ul li .twitter:hover {
  color: #55acee;
}
.bottom_footer .social_footer ul li .github:hover {
  color: #800080;
}
.bottom_footer .social_footer ul li i:hover {
  color: #2ac467;
}

a {
  font-family: "Segoe UI Regular";
}

/*# sourceMappingURL=style.css.map */
