@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Russo+One|Ubuntu|Varela+Round");
@media (min-width: 575.98px) and (max-width: 991.98px) {
  .links_header {
    text-align: center !important;
  }
}
@media (min-width: 981px) {
  .for_mobiles {
    display: none;
  }

  .menu {
    display: none;
  }
}
@media (max-width: 991px) {
  nav div {
    text-align: center !important;
  }
}
@media (max-width: 769px) {
  .card {
    width: 55rem !important;
  }
}
@media (max-width: 991.98px) {
  .social_footer {
    text-align: center !important;
  }

  .logo_footer_div {
    text-align: center !important;
  }

  .table_footer ul {
    text-align: center !important;
  }
}
@media (min-width: 200px) and (max-width: 980px) {
  .Mobile {
    display: inline !important;
  }

  .header_container {
    display: none;
  }

  nav {
    display: none;
  }

  .card {
    width: 55rem !important;
  }

  .cards_div_in {
    order: 12;
  }

  .right_cards {
    order: 1;
  }

  .table_footer lh {
    text-align: center !important;
    font-size: 23pt !important;
  }
  .table_footer li {
    text-align: center !important;
  }
  .table_footer li a {
    font-size: 20pt !important;
  }

  .all_rul_suc {
    font-size: 19pt !important;
  }

  .social_footer i {
    font-size: 45px !important;
  }

  .Made_with {
    margin-top: 20px !important;
    font-size: 37px !important;
  }
}
body, html {
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

body {
  height: 100vh;
  background-color: #f0f4f5;
}

.for_mobiles i {
  color: white;
  font-size: 75px;
}
.for_mobiles i:hover {
  color: #2ac467;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
}
.for_mobiles .img_mobile {
  width: 60%;
}
.for_mobiles .drop_down_menu {
  background-color: #3b404a;
  border: none;
}
.for_mobiles .btn-danger:not(:disabled):not(.disabled).active, .for_mobiles .btn-danger:not(:disabled):not(.disabled):active, .for_mobiles .show > .btn-danger.dropdown-toggle {
  background-color: #3b404a;
  border: none;
}
.for_mobiles .dropdown-menu {
  background-color: #3b404a;
}

.menu ul {
  list-style: none;
}
.menu ul a {
  font-weight: 400;
  margin-left: 20px;
  font-size: 22pt;
  color: white;
}
.menu ul a i {
  margin-right: 7px;
}

.Mobile {
  display: none;
}

header {
  margin: auto;
  padding: 10px 0px 10px 0px;
  background-color: #3b404a;
}
header .header_container {
  margin: auto !important;
}
header .img_div {
  display: inline-block;
  padding: 0px;
}
header .img_div img {
  width: 80%;
}
header .img_div .logo_header {
  height: 90px;
  width: auto !important;
  padding-left: 0px;
  padding-right: 0px;
  transform: scale(0.9, 0.9);
}
header .links_header {
  text-align: right;
  display: inline-block;
}
header .links_header a, header .links_header span {
  font-weight: 400;
  margin-left: 20px;
  font-size: 14pt;
  color: white;
}
header .links_header a:hover {
  color: #2ac467;
  text-decoration: none;
}

nav {
  margin: auto;
  text-align: center;
  padding: 10px 0px 10px 0px;
  background-color: white;
  box-shadow: 0 6px 20px -4px #868686;
}
nav .div_nav {
  margin: auto;
  padding-left: 0px;
}
nav .nav_sites {
  text-align: left;
  height: 100%;
}
nav .nav_sites a {
  display: inline-block;
  height: 100%;
  color: #9c9c9c;
  font-weight: 600;
  font-size: 14.5pt;
  margin-right: 50px;
}
nav .side-navbar {
  text-align: right;
}
nav .side-navbar a i {
  padding-left: 10px;
}
nav div {
  display: inline-block;
}
nav div p {
  display: inline-block;
}
nav a {
  display: inline-block;
  height: 100%;
  color: #9c9c9c;
  font-weight: 600;
  font-size: 14.5pt;
}
nav a:hover {
  color: #2ac467;
}
nav .side-navbar a {
  display: inline-block;
  width: max-content;
}

main {
  margin: 25px 0px 0px 0px !important;
}

.cards {
  margin: auto;
  padding: 0px;
}

.card .fa-calendar-alt {
  margin-right: 7px;
}

.card {
  box-shadow: 0 0 10px #00000057;
  display: inline-block;
  padding: 0px;
  margin: 15px;
  border: 0px;
  width: 20rem;
}

.card-title {
  background-color: white;
  padding: 16px 20px 16px 20px;
}
.card-title a {
  color: #212529;
  font-size: 19px;
}
.card-title a:hover {
  color: #2ac467;
  text-decoration: underline;
}

.card-footer {
  text-align: center;
  margin: auto;
  padding-left: 0px;
  padding-right: 0px;
  background-color: rgba(0, 0, 0, 0.03);
  color: #6c757d;
}
.card-footer span {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
}

.card-img {
  width: 100%;
  border-radius: 0px;
}

.card-data {
  text-align: left;
}

.card-wievers {
  text-align: right;
}

.right_cards {
  display: block;
  height: 100%;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 10px #00000057;
  padding: 0px;
}
.right_cards .right-card {
  padding: 0px;
}

.title {
  border-radius: 10px 10px 0px 0px;
  padding: 11px 0px 11px 0px;
  background-color: #3b404a;
  text-align: center;
}
.title .right_card_title {
  font-size: 19px;
  color: white;
}
.title .right_card_title .fa-clock {
  color: #2ac467;
  font-size: 17px;
  margin-right: 2px;
}

.description:last-child {
  border-radius: 0px 0px 10px 10px;
}

.description {
  margin: 0px;
  padding: 5px 0px 5px 0px;
  background-color: white;
}
.description .desc_name {
  font-size: 17px;
}
.description .desc_other_name {
  color: grey;
  font-size: 15px;
}

h1, h2 {
  margin: 0px;
}

footer {
  padding: 0px;
}
footer .div_top_footer {
  background-color: #373d44;
}
footer .table_footer:first-child {
  padding-left: 0px !important;
}
footer .table_footer {
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin: auto;
  padding: 75px 0px 75px 0px;
}
footer .table_footer ul {
  text-align: left;
  display: inline-block;
  list-style: none;
}
footer .table_footer ul lh {
  color: white;
  font-weight: 700;
  font-size: 17pt;
  text-align: left;
  display: block;
}
footer .table_footer ul li {
  text-align: left;
}
footer .table_footer ul a {
  color: white;
  font-weight: 200;
  font-size: 15pt;
}
footer .table_footer ul a:hover {
  color: #2ac467;
  text-decoration: none;
}

.bottom_footer {
  width: 100%;
  background-color: #3b404a;
  margin: auto;
}
.bottom_footer .info_footer {
  padding: 20px 0px;
}
.bottom_footer .logo_footer_div {
  text-align: right;
}
.bottom_footer .logo_footer_div .Made_with .Git {
  font-size: 15px;
  font-weight: bold;
}
.bottom_footer .logo_footer_div div {
  padding: 0px;
  display: inline-block;
  text-align: left;
}
.bottom_footer .logo_footer_div div img {
  width: 35%;
}
.bottom_footer .logo_footer_div div span {
  margin-top: 90px;
  color: white;
  font-size: 12pt;
}
.bottom_footer .social_footer {
  padding: 0px;
  display: inline-block;
  text-align: left;
  margin-top: auto;
}
.bottom_footer .social_footer ul {
  padding-left: 5px;
  margin-bottom: 0px;
  word-spacing: 10px;
  list-style: none;
}
.bottom_footer .social_footer ul li {
  display: inline;
}
.bottom_footer .social_footer ul li i {
  margin: 0px 10px 0px 0px;
  color: white;
  font-size: 29px;
}
.bottom_footer .social_footer ul li .logos {
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
}
.bottom_footer .social_footer ul li .telegram:hover {
  color: #41b4e6;
}
.bottom_footer .social_footer ul li .facebook:hover {
  color: #475993;
}
.bottom_footer .social_footer ul li .youtube:hover {
  color: #f61c0d;
}
.bottom_footer .social_footer ul li .vk:hover {
  color: #4d76a1;
}
.bottom_footer .social_footer ul li .twitter:hover {
  color: #55acee;
}
.bottom_footer .social_footer ul li .github:hover {
  color: #800080;
}
.bottom_footer .social_footer ul li i:hover {
  color: #2ac467;
}

/*# sourceMappingURL=style.css.map */
