@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Russo+One|Ubuntu|Varela+Round');
@import "custom";
@import "header";

$body-bg: #f0f4f5;
$neobit-green: #2ac467;

body {
  background-color: $body-bg;
}

a {
  color: #fff;
  
}

a:hover {
  color: $neobit-green;
  text-decoration: none;
}